<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Цитаты великих людей</title>
  {{>head}}
</head>

<body>
  <div class="bg"></div>
  <div class="wrapper">
    {{>header}}

    <h1>Мудрость афоризмов</h1>

    <div class="header-text">
      <p>
        Если ты жаждешь глубинной трансформации, этот ресурс поможет тебе. Все что тебе нужно это ежедневно заходить на ресурс и читать афоризмы в течении хотя бы пяти минут. Будут происходить микро-озарения что поведет к транформации личности, посещению более светлых мыслей. А как известно что мыслим то чувствуем, что чувствует то и проживаем. Читай, размышляй и используй то, что тебе подойдет. Удачи!
      </p>
    </div>

    <div class="regular-page">
      <div class="top-arrow">
        <img src="{{path}}/img/scrollToTop.png" alt="alt">
      </div>

      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <section class="aphorisms-container">
        {{#each aphorisms as |item index| }}
        <div class="aphorisms-item">
          <div class="aphorisms-tags">
            {{#each this.tags}}
            <span>{{this.name}}</span>
            {{/each}}
          </div>
          <div class="aphorisms-item-body">
            <p>{{this.body}}</p>
          </div>
          <div class="aphorisms-item-bottom">
            <div class="aphorisms-authors">
              <span>{{this.authorName}}</span>
            </div>
            <div class="aphorisms-icons">

              <div class="share-buttons">
                <i onclick="Share.vkontakte('http://spiritual-evolution.ru/aphorism/{{this._id}}','Хороший Афоризм')"
                  class="fa fa-vk" aria-hidden="true"></i>
                <i onclick="Share.whatsapp('http://spiritual-evolution.ru/aphorism/{{this._id}}','Хороший Афоризм')"
                  class="fa fa-whatsapp" aria-hidden="true"></i>
                <i onclick="Share.telegram('http://spiritual-evolution.ru/aphorism/{{this._id}}','Хороший Афоризм')"
                  class="fa fa-telegram" aria-hidden="true"></i>
              </div>

              <i class="fa fa-clone" aria-hidden="true">
                <p class="copy-successfully">Скопировано</p>
              </i>
              <i class="fa fa-share-alt" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        {{/each}}

      </section>

      <div class="filter-block">
        <div class="filter-block-item">
          <p>Категория</p>
          <select id="filter-by-categories">
            <option value="Мыслители, философы">Мыслители, философы</option>
            <option value="Кастанеда">Карлос кастанеда</option>
          </select>
        </div>

        <div class="filter-block-item">
          <p>Топик</p>
          <select id="filter-by-topic">
            {{#each tags}}
            <option value={{this}}>{{this}}</option>
            {{/each}}
          </select>
        </div>

        <div class="filter-block-item">
          <p>Автор</p>
          <select id="filter-by-author">
            {{#each authors}}
            <option value={{this}}>{{this}}</option>
            {{/each}}
          </select>
        </div>

        <div class="shuffle-button-wrapper">
          <input type="button" class="shuffle-button" value="Перемешать">
        </div>
      </div>
    </div>

    <div class="more-button-wrapper">
      <input type="button" class="button more-button-aphorism" value="Показать все"></input>
    </div>
    <!-- end wrapper -->
  </div>
  {{>footer}}
</body>
<script type="text/javascript">
  Share = {
    vkontakte: function (purl, ptitle, pimg, text) {
      url = 'http://vkontakte.ru/share.php?';
      url += 'url=' + encodeURIComponent(purl);
      url += '&title=' + encodeURIComponent(ptitle);
      url += '&description=' + encodeURIComponent(text);
      url += '&image=' + encodeURIComponent(pimg);
      url += '&noparse=true';
      Share.popup(url);
    },
    telegram: function (purl, ptitle, pimg, text) {
      url = 'tg://msg?text=';
      url += encodeURIComponent(purl);
      Share.popup(url);
    },
    whatsapp: function (purl, ptitle, pimg, text) {
      url = 'whatsapp://send?text=';
      url += encodeURIComponent(purl);
      Share.popup(url);
    },
    popup: function (url) {
      window.open(url, '', 'toolbar=0,status=0,width=626,height=436');
    }
  };
</script>

</html>